<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.babytun.mapper.TGoodsMapper">
    <resultMap id="BaseResultMap" type="com.gx.babytun.entity.TGoods">
        <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="sub_title" property="subTitle" jdbcType="VARCHAR"/>
        <result column="original_cost" property="originalCost" jdbcType="REAL"/>
        <result column="current_price" property="currentPrice" jdbcType="REAL"/>
        <result column="discount" property="discount" jdbcType="REAL"/>
        <result column="is_free_delivery" property="isFreeDelivery" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        goods_id, title, sub_title, original_cost, current_price, discount, is_free_delivery,
        category_id, last_update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.gx.babytun.entity.TGoods">
        insert into t_goods (goods_id, title, sub_title,
          original_cost, current_price, discount,
          is_free_delivery, category_id, last_update_time
          )
        values (#{goodsId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR},
          #{originalCost,jdbcType=REAL}, #{currentPrice,jdbcType=REAL}, #{discount,jdbcType=REAL},
          #{isFreeDelivery,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP}
          )
    </insert>
    <insert id="insertSelective" parameterType="com.gx.babytun.entity.TGoods">
        insert into t_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="subTitle != null">
                sub_title,
            </if>
            <if test="originalCost != null">
                original_cost,
            </if>
            <if test="currentPrice != null">
                current_price,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="isFreeDelivery != null">
                is_free_delivery,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originalCost != null">
                #{originalCost,jdbcType=REAL},
            </if>
            <if test="currentPrice != null">
                #{currentPrice,jdbcType=REAL},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=REAL},
            </if>
            <if test="isFreeDelivery != null">
                #{isFreeDelivery,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gx.babytun.entity.TGoods">
        update t_goods
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                sub_title = #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originalCost != null">
                original_cost = #{originalCost,jdbcType=REAL},
            </if>
            <if test="currentPrice != null">
                current_price = #{currentPrice,jdbcType=REAL},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=REAL},
            </if>
            <if test="isFreeDelivery != null">
                is_free_delivery = #{isFreeDelivery,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gx.babytun.entity.TGoods">
        update t_goods
        set title = #{title,jdbcType=VARCHAR},
          sub_title = #{subTitle,jdbcType=VARCHAR},
          original_cost = #{originalCost,jdbcType=REAL},
          current_price = #{currentPrice,jdbcType=REAL},
          discount = #{discount,jdbcType=REAL},
          is_free_delivery = #{isFreeDelivery,jdbcType=INTEGER},
          category_id = #{categoryId,jdbcType=INTEGER},
          last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <select id="findById" resultMap="BaseResultMap" parameterType="long">
        select * from t_goods where goods_id=#{goodsId}
    </select>
    <select id="findGoodsAll" resultMap="BaseResultMap">
         select * from t_goods
    </select>
    <select id="findLastTime5" resultMap="BaseResultMap">
        select * from t_goods where last_update_time >=now()-interval 5 minute
    </select>

</mapper>